[submodule ".vim/pack/files/start/nerdtree"]
	path = .vim/pack/files/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/files/start/ctrlp.vim"]
	path = .vim/pack/files/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/style/start/lightline.vm"]
	path = .vim/pack/style/start/lightline.vm
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/style/start/lightline.vim"]
	path = .vim/pack/style/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/style/start/oceanic-next-vim"]
	path = .vim/pack/style/start/oceanic-next-vim
	url = https://github.com/adrian5/oceanic-next-vim.git
[submodule ".vim/pack/style/start/limelight.vim"]
	path = .vim/pack/style/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/features/start/vimtex"]
	path = .vim/pack/features/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/features/start/coc.nvim"]
	path = .vim/pack/features/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
