[submodule ".vim/pack/files/start/nerdtree"]
	path = .vim/pack/files/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/files/start/ctrlp.vim"]
	path = .vim/pack/files/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/style/start/lightline.vm"]
	path = .vim/pack/style/start/lightline.vm
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/style/start/lightline.vim"]
	path = .vim/pack/style/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "/Users/cyborg/.vim/pack/style/start/oceanic-next"]
	path = /Users/cyborg/.vim/pack/style/start/oceanic-next
	url = https://github.com/adrian5/oceanic-next-vim.git
